html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

input {
  border-radius: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none !important;
  }
}

* {
  box-sizing: border-box;
}

button {
  user-select: none;
  cursor: pointer;
  color: inherit;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
